In [58]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [6]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
df.shape

(9704, 11)

In [73]:
num_records = len(df)
num_records

9704

In [13]:
df['fuel_type'].nunique()
# or df['fuel_type'].unique()

2

In [14]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [74]:
df[(df['origin']== 'Asia')]['fuel_efficiency_mpg'].max().round(3)

np.float64(23.759)

In [34]:
df['horsepower'].median()

np.float64(149.0)

In [35]:
mostFrequent = df['horsepower'].value_counts().idxmax()
mostFrequent

np.float64(152.0)

In [38]:
X =df['horsepower'].fillna(mostFrequent , inplace = False)
X

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [37]:
X.median()

np.float64(152.0)

In [46]:
Select = df[(df['origin']== 'Asia')][['vehicle_weight', 'model_year']]

In [50]:
First7 = Select.head(7)
First7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [54]:
Z = First7.values
print(Z)
Z.shape

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

(7, 2)

In [57]:
ZTranspose = Z.T
print(ZTranspose)
ZTranspose.shape

[[2714.21930965 2783.86897424 3582.68736772 2231.8081416  2659.43145076
  2844.22753389 3761.99403819]
 [2016.         2010.         2007.         2011.         2016.
  2014.         2019.        ]]

(2, 7)

In [61]:
ZTZ = np.dot(Z.T , Z)
print (ZTZ)
ZTZ.shape

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

(2, 2)

In [63]:
Y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
Y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [64]:
ZTZinv = np.linalg.inv(ZTZ)
print(ZTZinv)
ZTZinv.shape

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

(2, 2)

In [66]:
MultiplyInvByTrans = np.dot(ZTZinv , ZTranspose )
print(MultiplyInvByTrans)
MultiplyInvByTrans.shape

[[-1.31202622e-04 -8.63909858e-05  3.72634923e-04 -4.02726650e-04
  -1.62513724e-04 -5.52342829e-05  4.65094049e-04]
 [ 2.62636846e-04  1.96990690e-04 -4.73392228e-04  6.58944477e-04
   3.08357831e-04  1.51636137e-04 -6.07979633e-04]]

(2, 7)

In [68]:
MltiplyByY = np.dot(MultiplyInvByTrans , Y)
print(MltiplyByY)
MltiplyByY.shape

[0.01386421 0.5049067 ]

(2,)

In [71]:
W = MltiplyByY.sum()
W.round(3)s

np.float64(0.519)